<head>
  <title> OTV </title>
  <meta http-equiv="refresh" content="{{ time_left }}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <link rel="stylesheet" href="style.css">
  
          
</head>
<body style="background-color:#222;color:#666">
  <div class="row">
    <div class="col s12">
      <div id="ytplayer"></div>
      <div id="np"><b>Now Playing:</b> {{ video_list[0][3] }}<br/>
	<b> Up Next: </b>
	<ul>
	  {% for video in video_list[1:4] %}
	  <li class=video>{{ video[3] }}</li>
	  {% endfor %}
	</ul>
      </div>
    </div>
  
  
  </div>


<script>
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
var player;

function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
        height: '700',
        width: '1200',
    videoId: '{{ current_video }}',
    autoplay: 1,
        playerVars: {
            'autoplay': 1,
            'showinfo': 0,
    'controls': 0,
    'modestbranding': 1,
    'start': '{{ video_start }}'
        }
});
}
</script></body>
